<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Projeto de gerenciamento de TCC para o IFRS Campus Restinga">
    <title>Aplicativo de Gerenciamento de TCC</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/menu.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/vendors.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">
    <script src="/js/modernizr.js"></script>

</head>

<body>

<div id="preloader">
    <div data-loader="circle-side"></div>
</div>

<div id="loader_form">
    <div data-loader="circle-side-2"></div>
</div>

<nav>
    <ul class="cd-primary-nav">
        <li><a href="" class="animated_link">Link1</a></li>
        <li><a href="" class="animated_link">Link2</a></li>
        <li><a href="" class="animated_link">Link3</a></li>
    </ul>
</nav>

<div class="container-fluid">

    <%- body; %>

</div>

<div class="cd-overlay-nav">
    <span></span>
</div>

<div class="cd-overlay-content">
    <span></span>
</div>

<a class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/common_scripts.min.js"></script>
<script src="/js/velocity.min.js"></script>
<script src="/js/common_functions.js"></script>
<script src="/js/file-validator.js"></script>
<script src="/js/func_1.js"></script>

</body>
