<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Projeto de Gerenciamento de TCC</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">
    <div>

      <form id="" method="post" action="<%= sails.getUrlFor('UsuarioController.login') %>">
          <h2 class="section_title">Criar Aluno</h2>
          <div class="form-group add_top_20">
              <label for="matricula">Número de Matrícula</label>
              <input required type="number" name="matricula" id="matricula" class="form-control required">
          </div>
          <div class="form-group">
              <label for="nome">Nome</label>
              <input required type="text" name="nome" id="nome" class="form-control required">
          </div>
          <div class="form-group">
              <label for="senha">Senha</label>
              <input required type="password" name="senha" id="senha" class="form-control required">
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input required type="email" name="email" id="email" class="form-control required">
          </div>
          <!-- Acho que setar um default pra ficar sempre no 1 a partir da criação do aluno -->
          <div class="form-group">
              <label for="etapa">Etapa</label>
              <select name="etapa" id="etapa">
                <option value="etapa1">Etapa 1</option>
                <option value="etapa2">Etapa 2</option>
                <option value="etapa3">Etapa 3</option>
                <option value="etapa4">Etapa 4</option>
              </select>
          </div>
          <div class="form-group">
              <label for="status">Status</label>
              <select name="status" id="status">
                <option value="Aprovado">Aprovado</option>
                <option value="Reprovado">Reprovado</option>
                <option value="Em andamento">Em andamento</option>
              </select>
              <!-- <input required type="password" name="senha" id="senha" class="form-control required"> -->
          </div>

          <!-- Collections -->
          <div class="form-group">
              <label for="tema">Tema</label>
              <input required type="text" name="tema" id="tema" class="form-control required">
          </div>
          <div class="form-group">
              <label for="proposta">Proposta</label>
              <input required type="text" name="proposta" id="proposta" class="form-control required">
          </div>
          <div class="form-group">
              <label for="previa">Previa</label>
              <input required type="text" name="previa" id="previa" class="form-control required">
          </div>
          <div class="form-group">
              <label for="documentacao">Documentacao</label>
              <input required type="file" name="documentacao" id="documentacao" class="form-control required">
          </div>
          <div class="form-group">
              <label for="professor">Professor</label>
              <input required type="text" name="professor" id="professor" class="form-control required">
          </div>
          <button type="submit" class="submit">Enviar</button>
          <!-- __________________________________________________________________________ -->
      </form>

    </div>
  </div>
</div>
