<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quae atque tempore nemo aliquid autem facilis quaerat, laudantium quisquam distinctio at. Et cumque perspiciatis ipsa expedita repudiandae ducimus iure sed.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">
    <form id="editForm" method="post" action="<%= sails.getUrlFor('UsuarioController.findUsuario') %>">
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />

      <label for="email">Informe o novo email do usuário: </label>
      <input required type="email" name="email", id="email" class="form-control required">

      <label for="senha">Informe a nova senha do Usuário: </label>
      <input required type="number" name="senha" id="senha" class="form-control required">

      
    </form>
  </div>
</div>