<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quae atque tempore nemo aliquid autem facilis quaerat, laudantium quisquam distinctio at. Et cumque perspiciatis ipsa expedita repudiandae ducimus iure sed.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">
      <div class="btn-group-vertical">
          <button class="btn submit" onclick="window.location.replace('/user/criarAluno')" >Criar Aluno</button>
          <button class="btn submit" onclick="window.location.replace('/user/criarProfessor')" >Criar Professor</button>
          <!-- <button class="btn submit" onclick="window.location.replace('/editarUsuario')" >Editar Usuario</button> -->
      </div>
  </div>
</div>