<div class="row">
    <br>
    <div class="col-lg-2"></div>
    <div style="background-color: #1DBE72; color: white; padding: 15px; border-radius: 15px; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4) !important;" class="col-lg-8 mt-5 mb-5">
        <h1 style="color: white;" class="text-center">Ajuda</h1>
        <h4 style="color: white;">T贸pico 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis dui quam, a volutpat urna suscipit eu. Nam tempus tortor eget interdum sollicitudin. Sed maximus pharetra dolor, sit amet molestie augue tempor eget. Donec sit amet metus magna. Morbi pulvinar mi neque, non convallis magna tincidunt quis. Quisque metus mi, fermentum eu blandit nec, iaculis sed tellus. Aenean dapibus nunc elit, nec porttitor libero porta ac. Suspendisse velit nisi, elementum sagittis nisl vitae, varius convallis augue. Aenean id lectus sollicitudin, tempor nisi in, ornare nunc. Mauris laoreet imperdiet augue at varius. Fusce eros mi, efficitur sit amet magna ut, dapibus posuere mi. Sed consectetur, sapien vitae semper ultrices, ipsum nisl placerat augue, id egestas neque ligula eu magna. Sed ac elit cursus, semper turpis sed, lobortis eros.</p>
        <h4 style="color: white;">T贸pico 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis dui quam, a volutpat urna suscipit eu. Nam tempus tortor eget interdum sollicitudin. Sed maximus pharetra dolor, sit amet molestie augue tempor eget. Donec sit amet metus magna. Morbi pulvinar mi neque, non convallis magna tincidunt quis. Quisque metus mi, fermentum eu blandit nec, iaculis sed tellus. Aenean dapibus nunc elit, nec porttitor libero porta ac. Suspendisse velit nisi, elementum sagittis nisl vitae, varius convallis augue. Aenean id lectus sollicitudin, tempor nisi in, ornare nunc. Mauris laoreet imperdiet augue at varius. Fusce eros mi, efficitur sit amet magna ut, dapibus posuere mi. Sed consectetur, sapien vitae semper ultrices, ipsum nisl placerat augue, id egestas neque ligula eu magna. Sed ac elit cursus, semper turpis sed, lobortis eros.</p>
        <h4 style="color: white;">T贸pico 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis dui quam, a volutpat urna suscipit eu. Nam tempus tortor eget interdum sollicitudin. Sed maximus pharetra dolor, sit amet molestie augue tempor eget. Donec sit amet metus magna. Morbi pulvinar mi neque, non convallis magna tincidunt quis. Quisque metus mi, fermentum eu blandit nec, iaculis sed tellus. Aenean dapibus nunc elit, nec porttitor libero porta ac. Suspendisse velit nisi, elementum sagittis nisl vitae, varius convallis augue. Aenean id lectus sollicitudin, tempor nisi in, ornare nunc. Mauris laoreet imperdiet augue at varius. Fusce eros mi, efficitur sit amet magna ut, dapibus posuere mi. Sed consectetur, sapien vitae semper ultrices, ipsum nisl placerat augue, id egestas neque ligula eu magna. Sed ac elit cursus, semper turpis sed, lobortis eros.</p>
        <h4 style="color: white;">T贸pico 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas venenatis dui quam, a volutpat urna suscipit eu. Nam tempus tortor eget interdum sollicitudin. Sed maximus pharetra dolor, sit amet molestie augue tempor eget. Donec sit amet metus magna. Morbi pulvinar mi neque, non convallis magna tincidunt quis. Quisque metus mi, fermentum eu blandit nec, iaculis sed tellus. Aenean dapibus nunc elit, nec porttitor libero porta ac. Suspendisse velit nisi, elementum sagittis nisl vitae, varius convallis augue. Aenean id lectus sollicitudin, tempor nisi in, ornare nunc. Mauris laoreet imperdiet augue at varius. Fusce eros mi, efficitur sit amet magna ut, dapibus posuere mi. Sed consectetur, sapien vitae semper ultrices, ipsum nisl placerat augue, id egestas neque ligula eu magna. Sed ac elit cursus, semper turpis sed, lobortis eros.</p>
        <div class="text-center">
            <button
                    onclick="window.location.replace('/aluno')"
                    class="btn btn-link">Voltar
            </button>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <br>
</div>

<div class="row row-height">
    <div class="col-sm-2"></div>
    <div style="background-color: #1dbe72; border-radius: 20px;" class="col-sm-8 col-sm-8 mt-5 mb-5 text-center">
        <br>
            <h1 style="color: white;">Ajuda</h1>
            <hr style="color: white;">
    </div>
    <div class="col-sm-2"></div>
</div>
