<div class="row row-height">
    <div class="col-sm-2"></div>
    <div style="background-color: #1dbe72; border-radius: 20px;" class="col-sm-8 col-sm-8 mt-5 mb-5 text-center">
        <br>
            <h1 style="color: white;">Ajuda</h1>
            <hr style="color: white;">
    </div>
    <div class="col-sm-2"></div>
</div>