<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
                <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete
                    detracto patrioque an per, lucilius pertinacia eu vel.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 content-right">
        <div class="card">
            <div class="card-header p-3" style="background: #32a041;">
                <h2 class="text-light text-center">Ajuda</h2>
            </div>
            <div id="carouselExampleIndicators" class="carousel card-body p-5" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner slide">
                    <div class="carousel-item active">
                        <h2>Passo 1</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                            saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             Fugit officia facere sit dolor nostrum
                             at provident distinctio.
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                            saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             Fugit officia facere sit dolor nostrum
                             at provident distinctio.
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 2</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 3</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 4</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 5</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 6</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                    <div class="carousel-item">
                        <h2>Passo 7</h2>
                        <p class="slider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam, saepe omnis id blanditiis
                            tenetur sint itaque nesciunt necessitatibus doloremque cum? Fugit officia facere sit dolor nostrum
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                             at provident distinctio.Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio magnam,
                             saepe omnis id blanditiis
                             tenetur sint itaque nesciunt necessitatibus doloremque cum?
                              Fugit officia facere sit dolor nostrum
                              at provident distinctio.</p>
                    </div>
                </div>
                <div class="text-center">
                    <a  class="m-5" href="#carouselExampleIndicators" role="button" data-slide="prev">Anterior</a>
                    <a class="m-5" href="#carouselExampleIndicators" role="button" data-slide="next">Próximo</a>
                </div>
            </div>
        </div>
    </div>
</div>
