<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Etapa 4 - Envio da documentação do TCC!</h2>
                <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete
                    detracto patrioque an per, lucilius pertinacia eu vel.</p>
            </div>
        </div>
    </div>

    <%
    if (req.session.etapa === 4) {
        msg = 'Você está nessa etapa!';
    } else {
        msg = 'Você não está nessa etapa!';
    }
    %>

    <div class="col-xl-8 col-lg-8 content-right">
        <form method="get" enctype="multipart/form-data"
              action="">
            <h2 class="section_title">Envio da documentação do TCC</h2>
            <div class="form-group add_bottom_30 add_top_20">
                <label>Upload de documentação<br><small style="color: red">*apenas .pdf *max 5mb</small></label>
                <div class="fileupload">
                    <input type="file" name="documento" accept=".pdf" class="required">
                </div>
            </div>
            <button type="submit" class="submit">Enviar</button>
        </form>
        <div class="form-group">
            <button onclick="window.location.replace('/etapa3')" class="submit">Etapa Anterior</button>
        </div>
    </div>
</div>
