<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Etapa 2 - Envio da Proposta do TCC!</h2>
                <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete
                    detracto patrioque an per, lucilius pertinacia eu vel.</p>
            </div>
        </div>
    </div>

    <%
    let e = false;

    if (req.session.etapa === 2) {
        e = true;
    }
    %>

    <div class="col-xl-8 col-lg-8 content-right">
        <div id="wizard_container">
            <%
            if(!e){
            %>
                <div style="padding: 5px; border-radius: 10px;" class="alert-info text-center">Você ainda não está nesta etapa!</div><br>
            <%
            }
            %>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                     style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                     aria-valuemax="100">2 de 4
                </div>
            </div>
            <br>
            <form method="get" enctype="multipart/form-data"
                  action="/etapa3">
                <h2 class="section_title">Envio da Proposta do TCC</h2>
                <div class="form-group add_bottom_30 add_top_20">
                    <label>Upload de documentação<br><small style="color: red">*apenas .pdf *max 5mb</small></label>
                    <div class="fileupload">
                        <%
                        if(e){
                        %>
                            <input type="file" name="documento" accept=".pdf" class="required">
                        <%
                        }else{
                        %>
                            <input disabled type="file" name="documento" accept=".pdf" class="required">
                        <%
                        }
                        %>
                    </div>
                </div>
                <h4>Orientador:</h4>
                <h5>Nome Professor</h5><br>
                <div class="custom">
                    <%
                    if(e){
                    %>
                        <button type="submit" class="submit buttons buttonsCustom">Enviar</button>
                    <%
                    }else{
                    %>
                        <button disabled type="submit" class="submit buttons buttonsCustom">Enviar</button>
                    <%
                    }
                    %>
                </div>
            </form>
            <br>
            <div class="form-group">
                <button onclick="window.location.replace('/etapa1')" class="submit buttons">Etapa Anterior</button>
                <button onclick="window.location.replace('/etapa3')" class="submit buttons buttonsmg2">Próxima Etapa
                </button>
            </div>
        </div>
    </div>
</div>
