<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Etapa 3 - Envio da Prévia do TCC!</h2>
                <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete
                    detracto patrioque an per, lucilius pertinacia eu vel.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 content-right">
        <form method="get" enctype="multipart/form-data"
              action="/etapa4">
            <h2 class="section_title">Envio da Prévia do TCC</h2>
            <div class="form-group add_bottom_30 add_top_20">
                <label>Upload de documentação<br><small style="color: red">*apenas .pdf *max 5mb</small></label>
                <div class="fileupload">
                    <input type="file" name="documento" accept=".pdf" class="required">
                </div>
                <label>Professor 1:<br></label>
                <div class="form-group">
                    <select required class="select form-control">
                        <option>Professor 1</option>
                        <option>Professor 2</option>
                        <option>Professor 3</option>
                    </select>
                </div>
                <br>
                <label>Professor 2:<br></label>
                <div class="form-group">
                    <select required class="select form-control">
                        <option>Professor 1</option>
                        <option>Professor 2</option>
                        <option>Professor 3</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="submit">Enviar</button>
            <button onclick="window.location.replace('etapa2')"  class="submit">Voltar</button>
        </form>
    </div>
</div>
