<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
                <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete
                    detracto patrioque an per, lucilius pertinacia eu vel.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 content-right">
        <div class="btn-group-vertical">
        <button onclick="window.location.replace('/etapa1')" class="btn submit">Fluxo de Etapas</button><br>
        <button class="btn submit">Sugestões de Temas</button>
        </div>
    </div>
</div>
