<div class="row row-height">
  <div class="col-xl-4 col-lg-4 content-left">
      <div class="content-left-wrapper">
          <div>
              <h2>Projeto de Gerenciamento de TCC</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua.</p>
          </div>
      </div>
  </div>
  <div class="col-xl-8 col-lg-8 content-right">
    <div class="container">
      <div class="img-custom">
        <img src="/images/logoif1.jpg" alt="" class="logo">
      </div>
 
    <div class="container-custom">
      <div class="buttons">
        <a href="#"><button type="button" class="btn btn-success btn-custom">Cadastrar Usuário</button></a>
        <a href="#"><button type="button" class="btn btn-success btn-custom">Listar Usuários</button></a>
        <a href="#"><button type="button" class="btn btn-success btn-custom">Editar Usuário</button></a>
      </div>
      <div class="buttons">
        <a href="#"><button type="button" class="btn btn-success btn-custom">Cadastrar Sugestões</button></a>
        <a href="#"><button type="button" class="btn btn-success btn-custom">Listar Sugestões</button></a>
        <a href="#"><button type="button" class="btn btn-success btn-custom">Editar Sugestões</button></a>
      </div>
    </div>
    </div>
  </div>
</div>
