<div class="row row-height">
    <div class="col-xl-4 col-lg-4 content-left">
        <div class="content-left-wrapper">
            <div>
                <h2>Olá, <%= req.session.usuarioNome; %>!</h2>
                <p>Esta é a página do professor, aqui você pode acessar o seu fluxo de etapas para saber em qual etapa da entrega do TCC você se encontra. Além de ter acesso às sugestões de temas na planilha alimentada pelo campus.</p>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 content-right">
        <div class="btn-group-vertical">

            <button onclick="window.location.replace('<%= sails.getUrlFor('EtapasController.etapa') %>')"
                    class="btn submit">Fluxo de Etapas
            </button>
            <br>
            <button class="btn submit">Sugestões de Temas</button>
        </div>
    </div>
</div>
